<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MirageSys</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/bootstrap-black.css">
    <link rel="stylesheet" href="../css/base.css">
    <script src="../js/lib/jquery-3.1.1.min.js"></script>
    <script src="../js/lib/bootstrap.js"></script>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">MirageSys</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="./index.html">首页</a></li>
                <li><a href="./worker.html">人员管理</a></li>
                <li><a href="./project.html">产品管理</a></li>
                <li><a href="./record-manage.html">统计管理</a></li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">帮助</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">设置 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">账户设置</a></li>
                        <li class="divider"></li>
                        <li><a href="#">系统设置</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
    <div class="container">
        <h2>使用说明</h2>
        <p>MirageSys仅仅提供了简单的记录导出功能，所有数据都记录在本地。</p>
        <strong class="text-danger">①请勿删除软件目录下的任何文件</strong>
        <strong class="text-warning">②请谨慎删除记录的数据，不具有恢复性</strong>
        <strong class="text-warning">③如遇到软件无反应，请右键单击，然后选择【重新加载】应用</strong>
        <p>暂时还未添加管理人员功能</p>
        <p>暂时还未添加在线数据保存功能</p>
        <h3>人员管理</h3>
        <ul>
            <li>输入姓名、工号、入职时间后，点击按钮【确认添加】。当出现绿色成功提示后，即表示添加人员成功。</li>
            <li>下面列表会根据添加的先后顺序展示人员列表。</li>
            <li>点击【删除】按钮可以删除当前人员信息。</li>
            <li>点击【修改】按钮将会出现弹出框，在弹出框里修改信息点击【保存】后，完成信息修改。</li>
        </ul>
        <hr>
        <h3>产品管理</h3>
        <p>根据公司的产品/款式进行分类，每个产品和款式下面存在若干个工序</p>
        <ul>
            <li>①输入产品名称/款式名称②如果有工序则点击【添加工序】，输入工序号和工序名称（多条则多次添加，多余则删除）<strong class="text-danger">工序编号不可重复</strong>③点击【确认添加】完成产品的添加</li>
            <li>添加完的产品将在下方按照添加的先后顺序进行排列，点击产品名称可以展开工序内容</li>
            <li>点击产品名称后面的【删除】按钮，将删除该产品</li>
            <li>点击工序名称后面的【删除】按钮，将删除该工序</li>
            <li>点击【修改】按钮，可以修改对应的内容，点击【保存】后即可完成修改</li>
        </ul>
        <hr>
        <h4>统计管理</h4>
        <ul>
            <li>选择时间、姓名、款式、工序，输入数量后，点击【确认添加】完成一条记录的添加。此时下方将会显示当天的统计信息</li>
            <li>①选择开始时间、结束时间、姓名为所有人员，则可以查询该时间段内所有人员的工作记录</li>
            <li>②选择姓名为某个员工名称，则可以查询该时间段内该员工的工作记录</li>
            <li>③开始时间、结束时间相同，则查询该天的工作记录</li>
            <li class="text-warning">不允许修改记录，只允许删除了后重新记录。请谨慎~</li>
            <li>点击【导出当前表格】可以将当前列表导出为Excel</li>
        </ul>
        <br>
        <br>
        <p>如果有其他问题，请邮件至 <i>baishenfang@163.com</i></p>
    </div>
</div>
</body>
<script src="../dist/bundle.js"></script>
</html>