<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MirageSys</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/bootstrap-black.css">
    <link rel="stylesheet" href="../css/base.css">
    <script src="../js/lib/jquery-3.1.1.min.js"></script>
    <script src="../js/lib/bootstrap.js"></script>
</head>
<body controller="ProjectManageCtrl">
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">MirageSys</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="./index.html">首页</a></li>
                <li><a href="./worker.html">人员管理</a></li>
                <li class="active"><a href="./project.html">产品管理</a></li>
                <li><a href="./record-manage.html">统计管理</a></li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">搜索产品/款式</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">帮助</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">设置 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">账户设置</a></li>
                        <li class="divider"></li>
                        <li><a href="#">系统设置</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!--content-->
<div class="container-fluid">
    <div class="row block">
        <div class="col-md-12">
            <div class="tag-title">添加产品</div>
        </div>
        <div class="col-md-12 pdt-10">
            <form class="form-inline" role="form">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">产品名称</div>
                        <input class="form-control" type="email" id="projectName" placeholder="请输入产品名称/款式名称">
                    </div>
                </div>
                <div class="info-block pdt-10" id="processBox">

                </div>
                <button type="button" class="btn btn-sm btn-default" id="btn_addProcess"><span
                        class="glyphicon glyphicon-plus pdr-10"></span>添加工序
                </button>
                <div class="pdt-10">
                    <button type="button" class="btn btn-default btn-block" id="btn_submitAddProject">确认添加</button>
                </div>

            </form>
        </div>
    </div>
    <!--end add-->
    <div class="row block">
        <div class="col-md-12">
            <div class="tag-title">产品列表</div>
        </div>
        <div class="col-md-12 pdt-10">
            <div class="panel-group" id="projectBox" role="tablist" aria-multiselectable="true">
            </div>
        </div>
    </div>
</div>
<!-- Modal modify project -->
<div class="modal fade" id="modifyProjectModal" tabindex="-1" role="dialog" aria-labelledby="modifyProjectModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="modifyProjectModalLabel">修改产品/款式名称</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="col-md-12">
                        <form role="form">
                            <div class="form-group">
                                <label for="modifyProjectName">产品/款式名称</label>
                                <input type="text" class="form-control" id="modifyProjectName" placeholder="请输入产品/款式名称">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-info" id="btn_modifyProjectSave">保存</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal modify process -->
<div class="modal fade" id="modifyProcessModal" tabindex="-1" role="dialog" aria-labelledby="modifyProcessModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="modifyProcessModalLabel">修改工序信息</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="col-md-12">
                        <form role="form">
                            <div class="form-group">
                                <label for="modifyProcessId">工序号</label>
                                <input type="text" class="form-control" id="modifyProcessId" placeholder="请输入工序号">
                            </div>
                            <div class="form-group">
                                <label for="modifyProcessName">工序名称</label>
                                <input type="text" class="form-control" id="modifyProcessName" placeholder="请输入工序名称">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-info" id="btn_modifyProcessSave">保存</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal modify add process -->
<div class="modal fade" id="modifyAddProcessModal" tabindex="-1" role="dialog" aria-labelledby="modifyAddProcessLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="modifyAddProcesslLabel">添加工序</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="col-md-12">
                        <form class="form-inline info-block" role="form" id="processBox2">
                            <div class="item">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">工序编号</div>
                                        <input class="form-control process-id" type="email" placeholder="请输入工序号">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">工序名称</div>
                                        <input class="form-control process-name" type="email" placeholder="请输入工序名称">
                                    </div>
                                </div>
                            </div>
                        </form>
                        <button type="button" class="btn btn-sm btn-default" id="btn_addProcess2"><span
                                class="glyphicon glyphicon-plus pdr-10"></span>添加工序
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-info" id="btn_modifyAddProcessSave">保存</button>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../dist/bundle.js"></script>
</html>